/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-image: url("Fondo_game.jpg");
    -fx-background-size: cover; /* Ajusta el tamaño de la imagen para que cubra el elemento */
    -fx-background-repeat: no-repeat; /* Evita que la imagen se repita */
    -fx-background-position: center center; 
    -fx-min-width: 0; 
    -fx-min-height: 0; 
}

.toggleButton{
   -fx-background-color: white;
   -fx-background-radius: 10px;
   -fx-cursor: hand;
}

.toggleButton:hover{
    -fx-scale-x: 1.1; 
    -fx-scale-y: 1.1;
}

.textField{
    -fx-font-weight: bold; 
    -fx-background-color: white; /* Fondo transparente para que no se marque */
    -fx-border-radius: 4px; /* Agrega esquinas redondeadas */
    -fx-font-size: 13px; /* Tamaño de fuente */
    -fx-text-box-border: transparent; /* Borde del cuadro de texto transparente */
}
